In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df_final_demo = pd.read_csv("df_final_demo.csv")

df_final_demo['clnt_tenure_yr'] = df_final_demo.clnt_tenure_yr.fillna(df_final_demo.clnt_tenure_yr.mean())
df_final_demo['clnt_tenure_mnth'] = df_final_demo.clnt_tenure_mnth.fillna(df_final_demo.clnt_tenure_mnth.mean())
df_final_demo['clnt_age'] = df_final_demo.clnt_age.fillna(df_final_demo.clnt_age.mean())

df_final_demo['gendr'] = df_final_demo['gendr'].fillna('U')
df_final_demo['num_accts'] = df_final_demo.num_accts.fillna(df_final_demo.num_accts.mean())
df_final_demo['bal'] = df_final_demo.bal.fillna(df_final_demo.bal.mean())
df_final_demo['calls_6_mnth'] = df_final_demo.calls_6_mnth.fillna(df_final_demo.calls_6_mnth.mean())
df_final_demo['logons_6_mnth'] = df_final_demo.logons_6_mnth.fillna(df_final_demo.logons_6_mnth.mean())

df_final_demo.head(50)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0
10,8368822,8.0,100.0,34.5,U,2.0,75578.54,0.0,3.0
11,2537139,8.0,99.0,51.5,U,2.0,135940.68,6.0,9.0
12,2208717,5.0,67.0,33.0,U,2.0,29782.96,6.0,9.0
13,2214073,16.0,193.0,62.5,M,3.0,136818.03,6.0,9.0
14,2368987,5.0,71.0,54.5,U,2.0,44408.87,2.0,5.0
15,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0
16,4536541,3.0,47.0,74.0,U,2.0,47804.50,1.0,4.0
17,3788589,10.0,122.0,32.5,M,2.0,30750.76,0.0,3.0
18,719792,11.0,136.0,31.0,F,2.0,111736.78,5.0,8.0
19,5904035,8.0,101.0,25.5,U,2.0,27848.76,3.0,6.0
20,1502049,8.0,100.0,31.0,U,2.0,28952.15,0.0,3.0
21,6590646,8.0,103.0,42.5,F,3.0,2768726.87,5.0,8.0
22,7585111,5.0,70.0,42.0,U,3.0,36621.41,1.0,4.0
23,3638336,12.0,152.0,30.5,M,3.0,54296.67,3.0,6.0
24,9520009,13.0,160.0,30.0,M,2.0,61062.57,6.0,9.0
25,1508759,6.0,80.0,58.5,U,2.0,66514.85,4.0,7.0
26,9381346,7.0,88.0,62.5,U,2.0,272252.76,0.0,3.0
27,7035604,7.0,86.0,30.5,U,2.0,28175.92,1.0,4.0
28,3055315,5.0,65.0,34.5,F,2.0,66560.69,1.0,5.0
29,3350906,5.0,68.0,55.0,U,2.0,88627.18,2.0,5.0
30,2109862,7.0,93.0,38.0,U,2.0,35917.29,2.0,5.0
31,1549737,7.0,94.0,68.5,U,2.0,35608.94,1.0,4.0
32,7474517,6.0,73.0,52.5,U,2.0,53993.47,4.0,7.0
33,6448014,7.0,85.0,57.5,U,2.0,82787.46,6.0,9.0
34,6651826,8.0,103.0,34.5,U,2.0,44696.97,0.0,3.0
35,2305285,14.0,168.0,54.0,M,2.0,132347.89,6.0,9.0
36,5889920,11.0,142.0,33.0,M,2.0,106249.03,1.0,4.0
37,3065089,19.0,228.0,63.0,M,2.0,439723.43,6.0,9.0
38,313570,18.0,223.0,48.0,F,2.0,75124.07,2.0,5.0
39,9721424,12.0,152.0,32.0,F,2.0,29667.60,0.0,3.0
40,3753796,25.0,305.0,66.5,F,2.0,214661.75,6.0,9.0
41,6647577,23.0,286.0,68.0,F,3.0,86005.57,2.0,5.0
42,6341488,23.0,285.0,65.0,F,2.0,116534.46,5.0,8.0
43,838619,23.0,280.0,60.5,F,2.0,131309.81,0.0,3.0
44,2000151,21.0,254.0,38.0,F,2.0,136515.54,6.0,9.0
45,6579978,21.0,253.0,74.0,M,2.0,71192.58,1.0,4.0
46,8475126,23.0,278.0,51.0,M,3.0,327091.02,3.0,6.0
47,7419744,18.0,221.0,49.0,U,2.0,162233.71,0.0,3.0
48,9796602,18.0,216.0,46.0,F,2.0,25827.39,0.0,3.0
49,1329260,17.0,212.0,63.5,F,2.0,666138.27,5.0,8.0

In [2]:
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [44]:
df_final_demo.isna().sum()

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [52]:
# value_counts gets count of each unique value; can be used to count occuranges in the 'gender' column
gender_counts = df_final_demo['gendr'].value_counts()
print(gender_counts)

gendr
U    24136
M    23724
F    22746
X        3
Name: count, dtype: int64

In [54]:
age_counts = df_final_demo['clnt_age'].value_counts()
age_counts_sorted = age_counts.sort_index()
print(age_counts_sorted)

clnt_age
13.5     1
14.0     2
14.5    23
15.0    22
15.5    37
        ..
93.5     4
94.0     3
94.5     1
95.5     1
96.0     2
Name: count, Length: 166, dtype: int64

In [6]:
df_final_experiment = pd.read_csv("df_final_experiment_clients.csv")

# df_final_experiment['Variation'] = df_final_experiment['Variation'].fillna('Unknown') 
df_final_experiment = df_final_experiment.dropna()
df_final_experiment.rename(columns={'Variation': 'variation'}, inplace=True)
df_final_experiment.head(50)

    client_id variation
0     9988021      Test
1     8320017      Test
2     4033851   Control
3     1982004      Test
4     9294070   Control
5     9466803      Test
6     3170143      Test
7     6651403   Control
8     5887227      Test
9     2105948   Control
10     438567      Test
11    2519971      Test
12    9814849   Control
13    5407849      Test
14    7286739   Control
15    4446011   Control
16    5308474      Test
17    2991219      Test
18    2354414      Test
19     949210      Test
20    4229407   Control
21    9987707      Test
22    2709011      Test
23    4507502      Test
24    2842481   Control
25    2317698      Test
26    3013805      Test
27    1218661   Control
28    2965703      Test
29    1712929   Control
30    2328234      Test
31     800925   Control
32    6685654      Test
33    8766054      Test
34    4726500      Test
35    9504867      Test
36    1242238   Control
37    7800773      Test
38    9477476   Control
39    1338778   Control
40    6584990   Control
41    7859827      Test
42    7407692      Test
43    7040762   Control
44    9900469      Test
45    5169372   Control
46    5267250   Control
47    2079440      Test
48    5376894      Test
49    3751049   Control

In [21]:
# df_final_experiment.info()
df_final_experiment.isna().sum()

client_id    0
Variation    0
dtype: int64

In [58]:
# Test group: Clients experienced the new, spruced-up digital interface.
# Control group: Clients interacted with Vanguard’s traditional online process.

variation_type = df_final_experiment['variation'].value_counts()
print(variation_type)

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [ ]:
df_final_pt_1 = pd.read_csv("df_final_web_data_pt_1.csv")
df_final_pt_1.head(50)

In [ ]:
df_final_pt_2 = pd.read_csv("df_final_web_data_pt_2.csv")
df_final_pt_2.head(50)

In [12]:
concatenated_df = pd.concat([df_final_pt_1, df_final_pt_2], ignore_index=True)
concatenated_df.head(50)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:27
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:26
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:19
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:19
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:18
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:17
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,4/17/2017 15:17
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,4/17/2017 15:16
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,4/5/2017 13:10
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,4/5/2017 13:09
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,4/5/2017 13:08
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,4/5/2017 13:08
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,4/5/2017 13:08
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:29
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:29
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:28
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:26
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:24
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,4/5/2017 12:24
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,4/5/2017 12:24
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:10
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:10
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:10
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:10
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,4/17/2017 12:02
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,4/17/2017 12:01
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,4/17/2017 12:00
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,4/17/2017 11:59
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,4/17/2017 11:59
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,4/17/2017 11:16
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,4/17/2017 11:16
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:24
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,4/16/2017 13:24
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,4/16/2017 13:24
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:24
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,4/16/2017 13:21
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:21
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,4/4/2017 18:41
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,4/4/2017 18:41
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,4/4/2017 18:38
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,4/4/2017 18:38
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,4/4/2017 18:38
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,4/4/2017 17:38
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,4/4/2017 17:34
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,4/4/2017 17:33
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,4/4/2017 17:31
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,4/4/2017 17:28
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,4/4/2017 17:28
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,4/4/2017 17:28
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,4/5/2017 14:52

In [8]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

In [9]:
concatenated_df.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [57]:
# Gets count of how many people were in each step of the process
confirm_count = concatenated_df['process_step'].value_counts()
print(confirm_count)

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [62]:
# Gets avg duration (in sec) spent on each step
concatenated_df['date_time'] = pd.to_datetime(concatenated_df['date_time'])
concatenated_df = concatenated_df.sort_values(by=['client_id', 'date_time'])
concatenated_df['time_diff'] = concatenated_df.groupby('client_id')['date_time'].diff()
concatenated_df = concatenated_df.dropna(subset=['time_diff'])

avg_duration_per_step = concatenated_df.groupby('process_step')['time_diff'].mean()
avg_duration_per_step = avg_duration_per_step.apply(lambda x: x.total_seconds())

print(avg_duration_per_step)

process_step
confirm     60426.161947
start      104999.321988
step_1      87896.557196
step_2      49398.980881
step_3       1772.315592
Name: time_diff, dtype: float64

In [ ]:
# concatenated_df['date_time'] = pd.to_datetime(concatenated_df['date_time'])
# concatenated_df = concatenated_df.sort_values(by=['client_id', 'date_time'])

# duration_df = concatenated_df.groupby('client_id').agg(
#  start_time=('date_time', 'first'),
#  end_time=('date_time', 'last')
# ).reset_index()

# duration_df['duration'] = duration_df['end_time'] - duration_df['start_time']

# final_df = pd.merge(duration_df, concatenated_df, on='client_id', how='left')

# final_df.head(50)

In [16]:
# concatenated_df['date_time'] = pd.to_datetime(concatenated_df['date_time'])
merged_df = pd.merge(df_final_experiment, concatenated_df, on='client_id', how='left')
merged_df.head(50)
# merged_df.shape

,client_id,variation,visitor_id,visit_id,process_step,date_time
0,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 16:57:00
1,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:34:00
2,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:50:00
3,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:06:00
4,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:22:00
5,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:38:00
6,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:54:00
7,9988021,Test,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:00
8,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:00
9,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:00
10,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00
11,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00
12,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00
13,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00
14,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00
15,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:00
16,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:00
17,8320017,Test,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:00
18,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:00
19,8320017,Test,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:00
20,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:04:00
21,4033851,Control,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:04:00
22,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:06:00
23,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:08:00
24,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:00
25,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:00
26,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:00
27,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:00
28,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:00
29,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:00
30,4033851,Control,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:00
31,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:00
32,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:00
33,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:00
34,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:00
35,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:00
36,1982004,Test,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:00
37,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:00
38,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:00
39,1982004,Test,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:00
40,9294070,Control,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:00
41,9294070,Control,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:00
42,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:00
43,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:00
44,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:00
45,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:00
46,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:00
47,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:00
48,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:00
49,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:00

In [71]:
duplicates = merged_df[merged_df.duplicated(subset=['client_id', 'process_step', 'variation'], keep=False)]
print(duplicates)

        client_id variation             visitor_id  \
0         9988021      Test   580560515_7732621733
1         9988021      Test   580560515_7732621733
2         9988021      Test   580560515_7732621733
3         9988021      Test   580560515_7732621733
4         9988021      Test   580560515_7732621733
...           ...       ...                    ...
187511    7230446      Test  301456995_82370441715
187512    7230446      Test  301456995_82370441715
187515    6334360      Test  629124187_65258232847
187517    6334360      Test  629124187_65258232847
187519    6334360      Test  629124187_65258232847

                            visit_id process_step           date_time  \
0       219729223_42518459208_211914        start 2017-04-12 18:06:00
1       219729223_42518459208_211914        start 2017-04-12 18:22:00
2       219729223_42518459208_211914        start 2017-04-12 18:38:00
3       219729223_42518459208_211914        start 2017-04-12 18:54:00
4       781255054_21935453173_531117        start 2017-04-17 15:16:00
...                              ...          ...                 ...
187511  999642113_50361812747_686928        start 2017-03-16 13:57:00
187512  999642113_50361812747_686928        start 2017-03-16 13:57:00
187515  586047816_14599436811_389185       step_2 2017-04-11 08:44:00
187517  586047816_14599436811_389185       step_2 2017-04-11 08:45:00
187519  586047816_14599436811_389185       step_2 2017-04-11 08:46:00

             time_diff
0      0 days 00:16:00
1      0 days 00:16:00
2      0 days 00:16:00
3      0 days 00:16:00
4      4 days 20:22:00
...                ...
187511 0 days 00:01:00
187512 0 days 00:00:00
187515 0 days 00:00:00
187517 0 days 00:00:00
187519 0 days 00:00:00

[89843 rows x 7 columns]

In [ ]:
# Check if the new design leads to a better user experience and higher process completion rates.

# Since the new design (Test group) had a higher completion rate compared to the old design (Control group), you are required to confirm if this difference is statistically significant.

# H0: The new design does not lead to a better user experience and higher process completion rates.
# H1: The new design does lead to a better user experience and higher process completion rates.

# alpha = 0.05

In [ ]:
# For the Hypothesis Testing:

# H0: completion time for test group == completion time for control group
# H1: completion time for test group != completion time for control group

# For this hypothesis, we can use just the p-value to determine

# KPIs: Completion Rate, Time Spent on Each Step, Error Rates

# Check the variations (i.e. who was in which group - Control or Test)
# Check for the count of how many ppl came to the confirm step ~ Completion Rate
# Check for time spent on each step(i.e avg duration)
# Check for error rates(i.e. if user goes back to a previous step, it can indicate confusion or an error)

In [ ]:
# Other Hypothesis - can test if gender differences affect engaging with the new or old process

# H0: Gender differences do not affect engaging the new or old process
# H1: Gender differences do affect engaging the new or old process

# alpha  = 0.05